<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
</head>
<body>
<h1>Choose your menu</h1>
<strong>Remember to send your choice before 11 am.</strong>

<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="client-div">
            <h3>Personal information: </h3>
            {{ client_form.as_p }}
        </div>
        <div class="order-div">
            <h3>Menu: </h3>
            {{ order_form.as_p }}
        </div>
        <button type="submit" class="btn btn-success">Send</button>
    </form>
    {% for message in messages %}
        <p id="messages">{{ message }}</p>
    {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>